.wrapper {
  width: 100%;
}

.nav {
  list-style: none;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  text-transform: lowercase;

  li {
    position: relative;
    opacity: 0;
    animation: fade-in-up 0.35s ease-out forwards;

    &:nth-child(1) { animation-delay: 0.1s; }
    &:nth-child(2) { animation-delay: 0.15s; }
    &:nth-child(3) { animation-delay: 0.2s; }
    &:nth-child(4) { animation-delay: 0.25s; }
  }
}

.icon {
  width: 1rem;
  height: 1rem;
  opacity: 0;
  transform: translateX(-4px);
  transition:
    opacity var(--transition-fast),
    transform var(--transition-fast);

  a:hover & {
    opacity: 0.7;
    transform: translateX(0);
  }
}

@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}