.main {
  width: 100%;
  min-height: 100vh;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 1.5rem 1rem;

  h1 {
  margin-bottom: 1rem;
  line-height: 1.1;
  text-wrap: balance;
}
}

.container {
  width: 100%;
  max-width: 29rem;
}

// Image
.imageWrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9;
  border-radius: 4px;
  overflow: hidden;
  background: rgba(136, 136, 136, 0.15);
  margin-bottom:1rem;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: opacity var(--transition-fast);
  background: var(--muted);
}

.links {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  margin:1.75rem 0;
}

.link {
  display: inline-flex;
  gap: 0.375rem;
  font-size: 0.875rem;
  text-transform: lowercase;
  justify-content: flex-start;
  color:var(--body);
  svg {
    color:var(--accent-muted);
  };
}
