.back {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.875rem;
  color: var(--muted);
  text-transform: lowercase;
  margin-bottom:1rem;
  transition: color var(--transition-fast);

  &:hover {
    color: var(--text);

    .icon {
      transform: translateX(-2px);
    }
  }
}

.icon {
  width: 1rem;
  height: 1rem;
  transition: transform var(--transition-fast);
}
