.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin:2rem 0;

  li {
    position: relative;
  }
}

.content {
  display: flex;
  flex-direction: column;
  min-width: 0;
  color: var(--text);
}

.description {
  font-size: 0.8125rem;
  color: var(--muted);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  @media (max-width: 480px) {
    white-space: normal;
  }
}
